<section class="container ff-inter">
  <header class="header">
    <h2>Cadastrar Usuário</h2>
    <form class="ff-inter">
      <div>
        <Label for="nome">Nome: </Label>
        <input type="text" class="input" id="nome" name="nome" placeholder="Digite seu nome" [(ngModel)]="usuario.nome">
      </div>
        <div class="div">
          <Label for="sobrenome">Sobrenome: </Label>
          <input type="text" class="input" id="sobrenome" name="sobrenome" placeholder="Digite seu sobrenome" [(ngModel)]="usuario.sobrenome">
        </div>
        <div class="div">
          <Label for="email">E-mail: </Label>
          <input type="email" class="input" id="email" name="email" placeholder="Digite seu email" [(ngModel)]="usuario.email">
        </div>
        <div class="div">
          <Label for="profissao">Profissão: </Label>
          <input type="text" class="input" id="profissao" name="profissao" placeholder="Digite sua profissão" [(ngModel)]="usuario.profissao">
        </div>
        <div class="div">
          <Label for="idade">Idade: </Label>
          <input type="number" class="input" id="idade" name="idade" placeholder="Digite sua idade" [(ngModel)]="usuario.idade ">
      </div>

      <div class="dire">
        <button (click)="cadastrarUsuario()" class="botao botao-salvar">Salvar</button>
        <button (click)="cancelar()" class="botao botao-cancelar">Cancelar</button>
      </div>
    </form>
  </header>
</section>
