.acoes {
  display: flex;
  justify-content: center;
}

h2 {
  text-align: center;
  font-size: 40px;
}

.botao {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  cursor: pointer;
  margin: 0 10px;
  color: #fff;
}

.botao-salvar {
  background-color: #01743b;
  margin-left: 110px
}

.botao-cancelar {
  background-color: #4c5454;
}
.editar-usuario {
  padding: 2rem 0;
}

.editar-usuario form {
  background: #154580;
  border: none;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;

}

.editar-usuario form label {
  text-align: center;
  color: white;
  font-weight: bold;
  margin: 0 0 1rem;
  font-size: 20px;
}

.editar-usuario form .input {
  text-align: center;
  border: none;
  height: 40px;
  padding: 1rem 2rem;
  border-radius: 20px;
  margin: 0.5rem 0 2rem;
}


